<div class="pagina-solicitacao-admin">
  <div class="botao-voltar" (click)="voltar()">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <div class="topo-pagina">
    <div>
      <h1>Detalhes da Solicitação #{{ solicitacao.id }}</h1>

      <div class="datas">
        <p>Data do cadastro: {{ solicitacao.dataCadastro | date:'dd/MM/yyyy' }}</p>
        <!-- <p>Última modificação em: {{ solicitacao.dataUltimaModificacao | date:'dd/MM/yyyy' }}</p> -->
      </div>

      <span class="badge-status" [ngClass]="obterClasseStatus(solicitacao.status)">
        {{ solicitacao.status}}
      </span>

      <div class="equipamento-atribuido" *ngIf="equipamentoAtribuido">
        <span>Equipamento atribuido</span>
        <strong>{{ equipamentoAtribuido.nome }} - ID:{{ equipamentoAtribuido.id }}</strong>
      </div>

    </div>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="menuAcoes">
      Ações
    </button>

    <mat-menu #menuAcoes="matMenu">
      <button mat-menu-item *ngIf="!modoEdicao" (click)="editar()">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>

      <button mat-menu-item *ngIf="modoEdicao" (click)="salvarEdicao()">
        <mat-icon>check</mat-icon>
        <span>Salvar alteracoes</span>
      </button>

      <button mat-menu-item *ngIf="modoEdicao" (click)="cancelarEdicao()">
        <mat-icon>close</mat-icon>
        <span>Cancelar edicao</span>
      </button>

      <button mat-menu-item  (click)="aprovar()" [disabled]="solicitacao.status !== 'PENDENTE'">
        <mat-icon>check</mat-icon>
        <span>Aprovar</span>
      </button>

      <button mat-menu-item [disabled]="solicitacao.status !== 'PENDENTE'" (click)="reprovar()">
        <mat-icon>close</mat-icon>
        <span>Reprovar</span>
      </button>

      <button mat-menu-item [disabled]="solicitacao.status === 'PENDENTE'" (click)="reabrirAnalise()">
        <mat-icon>restart_alt</mat-icon>
        <span>Reabrir análise</span>
      </button>

      <button mat-menu-item [disabled]="solicitacao.status !== 'APROVADA'" (click)="atribuirEquipamento()">
        <mat-icon>link</mat-icon>
        <span>Vincular</span>
      </button>

      <button mat-menu-item class="acao-perigo" (click)="deletar()" [disabled]="solicitacao.status !== 'PENDENTE'">
        <mat-icon>delete</mat-icon>
        <span>Deletar</span>
      </button>
    </mat-menu>
  </div>

  <mat-card class="card-solicitacao">
    <mat-card-content>

      <form [formGroup]="form" class="form-solicitacao">

        <section class="bloco-formulario">
          <div class="titulo-bloco">
            <h2>Informações da solicitação</h2>
          </div>

          <mat-form-field>
            <mat-label>Nome do solicitante</mat-label>
            <input matInput formControlName="nomeSolicitante" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Equipamento solicitado</mat-label>
            <mat-select formControlName="equipamentoSolicitado">
              <mat-option *ngFor="let tipo of tiposEquipamento" [value]="tipo.valor">
                {{ tipo.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Curso</mat-label>
            <mat-select formControlName="curso">
              <mat-option *ngFor="let curso of cursos" [value]="curso.valor">
                {{ curso.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>GRR</mat-label>
            <input matInput formControlName="grr" />
          </mat-form-field>

          <mat-form-field class="campo-justificativa">
            <mat-label>Justificativa</mat-label>
            <textarea matInput rows="5" formControlName="justificativa"></textarea>
          </mat-form-field>
        </section>

        <section class="bloco-formulario">
          <div class="titulo-bloco">
            <h2>Declaracoes</h2>
          </div>

          <div class="grupo-checkbox">
            <mat-checkbox formControlName="declaracaoComputador" color="primary">
              Declaro que não possuo computador para a realização das atividades curriculares do curso.
            </mat-checkbox>

            <mat-checkbox formControlName="declaracaoMatricula" color="primary">
              Confirmo que minha matrícula está ativa no semestre atual.
            </mat-checkbox>
          </div>
        </section>

      </form>

    </mat-card-content>
  </mat-card>

</div>

