<div class="pagina-atribuir">
  <div class="botao-voltar" (click)="voltar()">
    <mat-icon>arrow_back</mat-icon>
  </div>

  <div class="topo-pagina">

    <div>
      <h1>Atribuir Equipamento ao Solicitante</h1>
      <p>Atribua um equipamento em bom estado ao solicitante.</p>
    </div>

    <div class="filtros">

        <mat-form-field>
          <mat-select [(value)]="tipoSelecionado" [disabled]="temEquipamentoSelecionado">
            <mat-option *ngFor="let tipo of tiposEquipamento" [value]="tipo.valor">
              {{ tipo.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
  </div>

  <div class="lista-equipamentos">

    <mat-card
      class="card-equipamento"
      *ngFor="let equipamento of equipamentosFiltrados"
      [class.card-selecionado]="equipamentoEstaSelecionado(equipamento)"
      [class.card-indisponivel]="temEquipamentoSelecionado && !equipamentoEstaSelecionado(equipamento)">

      <div class="conteudo-card">

        <div class="imagem-area">
        <img [src]="equipamento.imagem" alt="equipamento" />
        </div>

        <div class="informacoes">

          <div class="cabecalho-card">
            <h2>{{ equipamento.nome }}</h2>
            <span>ID:{{ equipamento.id }}</span>
          </div>

          <p>
            Descrição da avaliação:
            {{ equipamento.descricao }}
          </p>

          <button
            *ngIf="!equipamentoEstaSelecionado(equipamento)"
            mat-raised-button
            color="primary"
            class="botao-selecionar"
            [disabled]="temEquipamentoSelecionado"
            (click)="selecionarEquipamento(equipamento)"
          >
            <mat-icon>check</mat-icon>
            Selecionar
          </button>

          <button
            *ngIf="equipamentoEstaSelecionado(equipamento)"
            mat-stroked-button
            class="botao-cancelar-selecao"
            (click)="cancelarSelecao(equipamento)"
          >
            <mat-icon>close</mat-icon>
            Cancelar seleção
          </button>

        </div>

      </div>

    </mat-card>

    <div class="estado-vazio" *ngIf="equipamentosFiltrados.length === 0">
      Nenhum equipamento encontrado para os filtros selecionados.
    </div>

  </div>

  <mat-paginator
    [length]="equipamentosFiltrados.length"
    [pageSize]="2"
    [pageSizeOptions]="[2, 4, 6]"
    showFirstLastButtons>
  </mat-paginator>

</div>
