<header class="topbar">
  <div class="lado-esquerdo">
    <button mat-icon-button (click)="abrirFecharMenu()" aria-label="Abrir ou fechar menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="marca-sistema">
    <img
      src="/logo-conexao-solidaria.svg"
      alt="Conexão Solidária"
      class="logo-sistema">
  </div>

  <div class="lado-direito">
    <button class="botao-sair" (click)="logout()" aria-label="Sair">
      <mat-icon>logout</mat-icon>
      Sair
    </button>
  </div>


</header>
