<aside class="sidebar">
  <nav class="nav-menu">

    <!-- USUÁRIO -->
    <ng-container *ngIf="perfil === 'USUARIO'">
      <div class="grupo-menu">

        <a routerLink="/usuario" class="menu-item">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>

        <a routerLink="/usuario/cadastro-doacao" class="menu-item">
          <mat-icon>add_box</mat-icon>
          Cadastro de Doação
        </a>

        <a routerLink="/usuario/solicitacao-doacao" class="menu-item">
          <mat-icon>assignment</mat-icon>
          Solicitação de Doação
        </a>

        <a routerLink="/usuario/listar-doacoes" class="menu-item">
          <mat-icon>search</mat-icon>
          Listar Doações
        </a>

        <a routerLink="/usuario/listar-solicitacoes" class="menu-item">
          <mat-icon>search</mat-icon>
          Listar Solicitações
        </a>

      </div>

      <div class="menu-footer">
        <a routerLink="/usuario/configuracao-perfil" class="menu-item">
          <mat-icon>settings</mat-icon>
          Configuração de Perfil
        </a>
      </div>

    </ng-container>

    <!-- TÉCNICO -->
    <ng-container *ngIf="perfil === 'TECNICO'">

      <a routerLink="/tecnico" class="menu-item">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <a routerLink="/tecnico/doacoes" class="menu-item">
        <mat-icon>search</mat-icon>
        Listar Doações
      </a>

      <a routerLink="/tecnico/historico" class="menu-item">
        <mat-icon>folder_open</mat-icon>
        Histórico de Reparos
      </a>

    </ng-container>

    <!-- ADMIN -->
    <ng-container *ngIf="perfil === 'ADMINISTRADOR'">

      <a routerLink="/admin" class="menu-item">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>

      <a routerLink="/admin/usuarios" class="menu-item">
          <mat-icon>group</mat-icon>
          Usuários
      </a>

      <a routerLink="/admin/doacoes" class="menu-item">
        <mat-icon>search</mat-icon>
        Listar Doações
      </a>

      <a routerLink="/admin/solicitacoes" class="menu-item">
        <mat-icon>search</mat-icon>
        Listar Solicitações
      </a>

    </ng-container>

  </nav>
</aside>
